absl-py
altgraph
annotated-types
anyio
arabic-reshaper
astunparse
attrs
audioread
babel
bcrypt
beautifulsoup4
blinker
bottle
bottle-websocket
certifi
cffi
chardet
charset-normalizer
click
colorama
contourpy
cryptography
CTkMessagebox
CTkTable
customtkinter
cx-Freeze
cx-Logging
cycler
darkdetect
decorator
deepface
dnspython
docutils
ecdsa
Eel
et-xmlfile
exceptiongroup
fastapi
filelock
filetype
fire
Flask
Flask-Cors
flatbuffers
fonttools
fsspec
future
gast
gdown
gevent
gevent-websocket
google-pasta
googletrans
greenlet
grpcio
gunicorn
h5py
h11
httpx
huggingface-hub
idna
imbalanced-learn
imblearn
itsdangerous
jax
jaxlib
Jinja2
joblib
keras
Kivy
lazy_loader
libclang
librosa
lief
llvmlite
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml-dtypes
motor
msgpack
mtcnn
mysql-connector-python
nltk
numba
numpy
opencv-contrib-python
opencv-python
openpyxl
opt_einsum
optree
packaging
pandas
passlib
pefile
pillow
platformdirs
ply
pooch
protobuf
py4j
pyasn1
pycparser
pydantic
pydantic_core
pydot
pygame
Pygments
pyinstaller
pyinstaller-hooks-contrib
pymongo
pyodbc
pyparsing
pyperclip
PySocks
pyspark
pytesseract
python-bidi
python-dateutil
python-jose
python-multipart
pytz
PyYAML
regex
reportlab
requests
retina-face
rfc3986
rich
rsa
safetensors
scikit-learn
scipy
sentencepiece
simpleai
six
sklearn-compat
sniffio
sounddevice
soundfile
soupsieve
soxr
starlette
tensorboard
tensorboard-data-server
tensorflow
termcolor
tf_keras
threadpoolctl
tkcalendar
tokenizers
tomli
tqdm
transformers
typing_extensions
tzdata
urllib3
uvicorn
websockets
Werkzeug
wrapt
xgboost
zope.event
zope.interface
